<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <h2>උතුම් නිර්වාන අවබෝධය ලැබේවා.</h2>
    <h4 class="hidden">අමාදොර, පිවිතුරැ සද්ධර්මය<span id="js-rotating">නිවන් රසය වශයෙන් එක් ආකාරයකි.,
      පිටක වශයෙන් තුන් ආකාරයකි., නිකාය වශයෙන් පස් ආකාරයකි., ආර්‍ය අෂ්ඨාංගික මාර්ගය වශයෙන් අට ආකාරයකි.,
      නවාංග ශාස්තෘ සාසනය වශයෙන් නව ආකාරයකි.
    </span></h4>
  </div>
  <div class="user-content">
    
  </div>
</div>